<mat-toolbar class="d-flex justify-content-between custom-toolbar">
  <div class="d-flex align-items-center">
    <button mat-icon-button class="me-2" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Sales Date Prediction App</span>
  </div>
  <button mat-icon-button aria-label="Example icon-button with share icon">
    <img src="../../../assets/nserio.png" alt="Nserio" class="me-2" style="width: 200%; height: 150%;">            
  </button>
</mat-toolbar>
